@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}
body {
    font-family: "PT Serif", serif;
    display: grid;
    grid-template-rows: 60px 1fr 40px; 
    grid-template-areas: 
        "header"
        "main"
        "footer";
    background-color: #fff;
    font-size: 16px;
    height: 100vh;
    margin: 0;
}

header {
    grid-area: header;
    background-color: rgb(21, 29, 80);
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: space-between;
    padding: 0 20px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: center;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: rgb(21, 29, 80);
    color: whitesmoke;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    width: 100%;
}

.navBar a {
    color: whitesmoke; 
    text-decoration: none; 
    padding: 5px 15px; 
    font-size: 1.1em;
}

.card {
    border: 2px solid rgb(21, 29, 80);
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin: 20px auto;
    width: 90%; /* Default for narrow screens */
}

.card img {
    width: 100px;
    height: auto;
    border: 2px solid rgb(21, 29, 80);
    border-radius: 5px;
}

article header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(183, 193, 211);
    color: rgb(21, 29, 80);
    padding: 10px;
    border-radius: 10px;
}

article footer {
    background-color: rgb(183, 193, 211);
    color: rgb(21, 29, 80);
    padding: 10px;
    border-radius: 10px;
}

@media (min-width: 700px) {
    main {
        display: flex;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 20px; 
        justify-content:center ;
        align-items: center;
    }

    .card {
        width: 600px; 
    }
}
