@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  
body{
    font-family:"PT Serif";
    display:grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-areas:
    "header"
    "main"
    "footer" ;
    background-color: rgb(248, 249, 252);
    font-size: 16px;
    height: 100vh;
}
header{
    grid-area: header;
    background-color: rgb(21, 29, 80);
    display: flex;
    color: whitesmoke;
    justify-content: space-around;
}
main{
    display: grid;
    grid-area: main;
    color: rgb(21, 29, 80);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
footer{
    grid-area: footer;
    background-color: rgb(21, 29, 80);
    color: whitesmoke;
   text-align: center;
   font-size: .8em;
   padding-bottom:25px; 
}
.navBar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    color: whitesmoke;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.navBar a {
    color: whitesmoke; 
    text-decoration: none; 
    padding: 5px 10px; 
    font-size: 1.1em;
}
.card{
    border: 2px solid rgb(21, 29, 80);
    border-radius: 15px;
    text-align: center;
    width: 200px;
    padding: 10px;
    margin: 30px;
    height: auto;
    
}
.card img{
    width: 100px;
    border: 2px solid rgb(21, 29, 80);
    border-radius: 5px;
}
